<form name='registerForm' id='registerForm'>
          <div class="form-group">
            <label class="control-label">{{getWord('username')}}</label>
            <input type="text" class="form-control" Placeholder='{{getWord("username")}}' name='username'>
          </div>
          <div class="form-group">
            <label class="control-label">{{getWord("email")}}</label>
            <input type="email" class="form-control" Placeholder='{{getWord("email")}}' name='email'>
          </div>
          <div class="form-group">
            <label class="control-label">{{getWord("password")}}</label>
            <input type="password" class="form-control" placeholder='{{getWord("password")}}' name='password'>
          </div>
          <div class="form-group">
            <label class="control-label">{{getWord('confirmPass')}}</label>
            <input type="password" class="form-control" placeholder="{{getWord('confirmPass')}}" name='confirmPassword'>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" ng-click='state();'>{{getWord('register')}}</button>
          </div>
        </form>