 <form class="form-horizontal" name='registerForm' id='registerForm'>
    <div class="form-group">
    <label class=" clrWht">Full name <sup class='clrRed'>*</sup></label>
    <div class='row'>
        <div class="col-lg-6">
            <input type="text" class="form-control" name="firstName" placeholder="First name" ng-model='userObj.firstName' />
        </div>
        <div class="col-lg-6">
            <input type="text" class="form-control" name="lastName" placeholder="Last name" ng-model='userObj.lastName' />
        </div>
    </div>
    </div>

       <div class="form-group">
        <div class="row">
            <div class="col-lg-4">
                <label class="control-label clrWht">DOB<sup class='clrRed'>*</sup></label>
                <input type="text" class="form-control" name="dateOfBirth" placeholder="DOB" ng-model='userObj.dob' />
            </div>
                <div class="col-lg-4">
                <label class="control-label clrWht">Sex<sup class='clrRed'>*</sup></label>
                <input type="text" class="form-control" name="sex" placeholder="SEX" ng-model='userObj.sex'/>
            </div>
            </div>

            <div class="col-lg-4">
                <label class="control-label clrWht">Country<sup class='clrRed'>*</sup></label>
                <input type="text" class="form-control" name="country" placeholder="Country" ng-model='userObj.country'/>
            </div>
        </div>
    </div>

    <!-- These fields will not be validated as long as they are not visible -->
    <div id="jobInfo" style=" margin-bottom: 15px;">
        <div class="form-group">
            <label class="col-xs-3 control-label clrWht">Address<sup class='clrRed'>*</sup></label>
            <div class="col-xs-5">
                <textarea class="form-control" name='address' ng-model='userObj.address'></textarea> 
            </div>
        </div>

        <div class="form-group">
         <div class="row">
            <div class="col-lg-6">
                <label class="control-label clrWht">Mobile<sup class='clrRed'>*</sup></label>
                <input type="text" class="form-control" name="mobile" placeholder="Mobile Number" ng-model='userObj.mobile'/>
            </div>

            <div class="col-lg-6">
                <label class="control-label clrWht">Email<sup class='clrRed'>*</sup></label>
                <input type="text" class="form-control" name="email" placeholder="Email" ng-model='userObj.email'/>
            </div>
        </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label clrWht">Provision<sup>*</sup></label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name='provision' ng-model='userObj.provision'/>
        </div>
    </div>

    <!-- These fields will not be validated as long as they are not visible -->
 <!--    <div id="phoneInfo" style="display: none; margin-bottom: 15px;">
        <div class="form-group">
            <label class="col-xs-3 control-label clrWht">Home phone</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="homePhone" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-3 control-label clrWht" >Office phone</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="officePhone" />
            </div>
        </div>
    </div >-->

    <div class="form-group">
        <div class='row'>
        <div class="col-lg-3" >
            <button type="submit" class="btn btn-primary clrWht">Register</button>
        </div>
    </div>
    </div>
</form>

