/* line 1, ../../../compass/sass/overrides/_main.scss */
.jarviswidget > div {
  border-width: 1px 1px 1px;
}

/* line 5, ../../../compass/sass/overrides/_main.scss */
#widget-order-job-detail .widget-body,
#widget-job-info .widget-body,
#widget-manage-order .widget-body,
#widget-tickets-sheets .widget-body {
  min-height: 10px;
}

/* line 12, ../../../compass/sass/overrides/_main.scss */
.widget-body .list-group {
  margin: -1px -1px -2px;
}

/* line 16, ../../../compass/sass/overrides/_main.scss */
.widget-body-toolbar a {
  padding: 6px 12px;
  display: inline-block;
  vertical-align: middle;
}

/* line 22, ../../../compass/sass/overrides/_main.scss */
.details-grid {
  margin-bottom: 0px !important;
}

/* line 26, ../../../compass/sass/overrides/_main.scss */
.details-grid .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 0;
}

/* line 32, ../../../compass/sass/overrides/_main.scss */
.details-grid .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
}

/* line 38, ../../../compass/sass/overrides/_main.scss */
.details-grid .status-label {
  margin-right: 5px;
  margin-bottom: 5px !important;
  /*display       : inline-block;*/
}

/* line 44, ../../../compass/sass/overrides/_main.scss */
#dtRoutePending_wrapper .DTTT #dtRoutePending_dtAcceptRoute {
  color: #FFF !important;
}

/* line 48, ../../../compass/sass/overrides/_main.scss */
#dtRoutePending_wrapper .DTTT a {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

/*#filteredContainer div {
	position: relative;
	padding-left: 90px !important;
	font-size: 12px;
}*/
/* line 61, ../../../compass/sass/overrides/_main.scss */
#filteredContainer strong {
  text-transform: uppercase;
}

/*#filteredContainer span {
	font-size: 12px;
	line-height: normal;
	color: #333;
	font-weight: 400;
	margin-right: 60px;
	margin-bottom: 6px;
	height: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.k-top-left {
	top: 0;
	left: 0;
}

.k {
	position: absolute;
}*/
/* line 87, ../../../compass/sass/overrides/_main.scss */
.dd-handle:hover:before, .dd-handle:hover:before + .dd-list .dd-handle {
  content: '\f047';
}

/* line 91, ../../../compass/sass/overrides/_main.scss */
.dd-handle:hover, .dd-handle:hover + .dd-list .dd-handle {
  content: '\f0c9';
}

/* line 95, ../../../compass/sass/overrides/_main.scss */
.dropzone {
  /*Added by Shawn Miller 8/11/2015*/
  overflow-y: scroll;
}

/* line 100, ../../../compass/sass/overrides/_main.scss */
i.color-dot {
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
  width: auto !important;
}

/* line 109, ../../../compass/sass/overrides/_main.scss */
i.color-square {
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 2px;
  width: 30px;
  height: 30px;
  border: 1px solid #CCC;
}

/* line 120, ../../../compass/sass/overrides/_main.scss */
#datatable-filters, #smart-search {
  display: block;
  margin: 0px 10px 5px 10px;
}

/* line 125, ../../../compass/sass/overrides/_main.scss */
#smart-search {
  margin-top: 15px;
}

/* line 129, ../../../compass/sass/overrides/_main.scss */
.datatable-child-format {
  padding: 10px 0 10px;
}

/* line 133, ../../../compass/sass/overrides/_main.scss */
.datatable-child-format .form-group {
  display: block !important;
}

/* line 137, ../../../compass/sass/overrides/_main.scss */
.datatable-child-format .form-group .control-label {
  font-weight: bold;
}

/* line 141, ../../../compass/sass/overrides/_main.scss */
header span#status {
  padding: 5px;
  margin-top: 7px;
  margin-right: 7px;
}

/* line 147, ../../../compass/sass/overrides/_main.scss */
.details-grid a.disabled {
  background-color: transparent !important;
  color: #D1D1D1;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

/* line 155, ../../../compass/sass/overrides/_main.scss */
input.small-digit {
  width: 100px;
}

/* line 159, ../../../compass/sass/overrides/_main.scss */
i.loyalty-status {
  margin: 0 3px 0 0;
}

/* line 163, ../../../compass/sass/overrides/_main.scss */
a.table-action, i.object-level {
  margin: 5px 5px;
}

/* line 167, ../../../compass/sass/overrides/_main.scss */
i.object-level {
  color: #5E5E5E;
  margin: 5px 5px;
}

/* line 172, ../../../compass/sass/overrides/_main.scss */
i.object-level:hover {
  color: #454545;
  margin: 5px 5px;
}

/* line 177, ../../../compass/sass/overrides/_main.scss */
.form-horizontal .has-feedback .form-control-feedback {
  top: -7px !important;
  right: 5px;
}

/* line 182, ../../../compass/sass/overrides/_main.scss */
.padding-10 .form-actions {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
}

/* line 188, ../../../compass/sass/overrides/_main.scss */
.tab-pane .widget-body-toolbar,
.tab-content-body .widget-body-toolbar {
  background: #FAFAFA;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #FAFAFA));
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #FAFAFA 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #FAFAFA 100%);
}

/* line 205, ../../../compass/sass/overrides/_main.scss */
label input[type=checkbox].checkbox + span, label input[type=radio].radiobox + span {
  display: inline;
}

/* line 209, ../../../compass/sass/overrides/_main.scss */
.associateInitials {
  width: 100px;
  padding-right: 12px;
}

/* line 214, ../../../compass/sass/overrides/_main.scss */
input[type="text"].rightJustified {
  text-align: right;
}

/* line 218, ../../../compass/sass/overrides/_main.scss */
#lblAddAnother {
  margin-right: 55px;
  margin-bottom: 7px;
}

/* line 223, ../../../compass/sass/overrides/_main.scss */
td.tickbox {
  text-align: center;
}

/* line 227, ../../../compass/sass/overrides/_main.scss */
.truncate {
  /*width: 250px;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 234, ../../../compass/sass/overrides/_main.scss */
ul.useful-links {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

/* line 240, ../../../compass/sass/overrides/_main.scss */
ul.useful-links li {
  margin: 15px;
}

/* line 244, ../../../compass/sass/overrides/_main.scss */
header h2 {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 254, ../../../compass/sass/overrides/_main.scss */
.table-icon {
  width: 28px;
  text-align: left;
  padding-left: 12px !important;
  padding-right: 0 !important;
}

/* line 261, ../../../compass/sass/overrides/_main.scss */
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 268, ../../../compass/sass/overrides/_main.scss */
input[readonly], input[readonly="readonly"],
textarea[readonly], textarea[readonly="readonly"] {
  background-color: #FFF !important;
  cursor: default !important;
  border: 1px solid #CCC;
}

/* line 275, ../../../compass/sass/overrides/_main.scss */
.smart-form td .label {
  display: block;
  margin-bottom: 6px;
  line-height: 19px;
  font-weight: 400;
  font-size: 13px;
  color: #333;
  text-align: center;
  white-space: normal;
}

/* line 7, ../../../compass/sass/overrides/_override-form-validation.scss */
.has-feedback .form-control {
  padding-right: 12px !important;
}

/* line 13, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-has-feedback {
  position: relative;
}

/* line 17, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

/* line 30, ../../../compass/sass/overrides/_override-form-validation.scss */
.form-control-feedback[data-fv-icon-for] {
  position: absolute;
  top: 16px !important;
  right: -8px;
  z-index: 2;
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px !important;
  text-align: center;
  pointer-events: none;
  color: #3C3F41;
}

/* line 44, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-has-feedback .fv-control-feedback {
  /*right: 15px;*/
}

/* line 48, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-help-block {
  display: block;
}

/* Hide the clear icon for field using placeholder attribute on IE10/11 */
/* line 53, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form [placeholder]::-ms-clear {
  display: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ For Bootstrap form ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* line 61, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form-bootstrap .help-block {
  margin-bottom: 0;
}

/* line 65, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form-bootstrap .tooltip-inner {
  text-align: left;
}

/* Bootstrap stacked form without label */
/* line 70, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form-bootstrap .fv-icon-no-label {
  top: 0;
}

/* line 74, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form-bootstrap .fv-bootstrap-icon-input-group {
  z-index: 100;
}

/* Bootstrap inline form */
/* line 79, ../../../compass/sass/overrides/_override-form-validation.scss */
.form-inline.fv-form-bootstrap .form-group {
  vertical-align: top;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ For Foundation form ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* line 87, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form-foundation .fv-control-feedback {
  top: 21px;
  /* The height of Foundation label */
  right: 15px;
  /* The padding-right of .columns */
  width: 37px;
  height: 37px;
  line-height: 37px;
}

/* line 95, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form-foundation .collapse .fv-control-feedback {
  top: 0;
  right: 0;
}

/* Foundation horizontal form */
/* line 101, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form-horizontal.fv-form-foundation .fv-control-feedback {
  top: 0;
}

/* Foundation stacked form without label */
/* line 106, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form-foundation .fv-icon-no-label {
  top: 0;
}

/* line 110, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form-foundation .error .fv-control-feedback {
  color: #F04124;
}

/**
 * Foundation reset the bottom marin to 0 when the row has '.error' class
 * I need to adjust it when using tooltip to show the error
 */
/* line 118, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form-foundation .error.fv-has-tooltip input, .error.fv-has-tooltip textarea, .error.fv-has-tooltip select {
  margin-bottom: 1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ For Pure form ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~ */
/* line 126, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form-pure .fv-control-feedback {
  top: 22px;
  /* Height of Pure label */
  width: 36px;
  /* Height of Pure input */
  height: 36px;
  line-height: 36px;
}

/* line 133, ../../../compass/sass/overrides/_override-form-validation.scss */
.pure-form-stacked.fv-form-pure .fv-control-feedback {
  top: 4px;
}

/* line 137, ../../../compass/sass/overrides/_override-form-validation.scss */
.pure-form-aligned .pure-control-group .fv-help-block {
  margin-top: 5px;
  margin-left: 180px;
}

/* line 142, ../../../compass/sass/overrides/_override-form-validation.scss */
.pure-form-aligned.fv-form-pure .fv-control-feedback,
.fv-form-pure .fv-icon-no-label {
  /* Pure stacked form without label */
  top: 0;
}

/* line 147, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form-pure .fv-has-error label,
.fv-form-pure .fv-has-error .fv-help-block,
.fv-form-pure .fv-has-error .fv-control-feedback {
  color: #CA3C3C;
  /* Same as .button-error */
}

/* line 153, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form-pure .fv-has-success label,
.fv-form-pure .fv-has-success .fv-control-feedback {
  /*color: #1CB841;*/
  /* Same as .button-success */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ For Semantic form ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* line 162, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form-semantic .fv-control-feedback.icon {
  right: 7px;
}

/* line 166, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form-semantic .error .icon {
  color: #D95C5C;
}

/* Semantic horizontal form */
/* line 171, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form-horizontal.fv-form-semantic .row {
  padding-bottom: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~ For UIKit form ~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~ */
/* line 179, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form-uikit .fv-control-feedback {
  top: 25px;
  /* Height of UIKit label */
  width: 30px;
  /* Height of UIKit input */
  height: 30px;
  line-height: 30px;
}

/* line 186, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form-uikit .uk-text-danger {
  display: block;
}

/* UIKit horizontal form */
/* line 191, ../../../compass/sass/overrides/_override-form-validation.scss */
.uk-form-horizontal.fv-form-uikit .fv-control-feedback {
  /*line-height: normal;*/
  top: 0;
}

/* line 196, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form-uikit .fv-has-error label,
.fv-form-uikit .fv-has-error .uk-form-label,
.fv-form-uikit .fv-has-error .fv-control-feedback {
  color: #D85030;
  /* Same as .uk-form-danger */
}

/* line 202, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form-uikit .fv-has-success label,
.fv-form-uikit .fv-has-success .uk-form-label,
.fv-form-uikit .fv-has-success .fv-control-feedback {
  /*color: #659F13;*/
  /* Same as .uk-form-success */
}

/* UIKit stacked form without label */
/* line 209, ../../../compass/sass/overrides/_override-form-validation.scss */
.fv-form-uikit .fv-icon-no-label {
  top: 0;
}

/*
Overriding the Bootstrap Error and Success colors
*/
/* Color of invalid field */
/* line 12, ../../../compass/sass/overrides/_override-form-validation2.scss */
.has-error .control-label,
.has-error .help-block,
.has-error .form-control-feedback {
  color: #A94442;
}

/* Color of valid field */
/* line 19, ../../../compass/sass/overrides/_override-form-validation2.scss */
.has-success .control-label,
.has-success .help-block,
.has-success .form-control-feedback {
  color: #333333;
}

/* line 25, ../../../compass/sass/overrides/_override-form-validation2.scss */
.has-success .form-control {
  border-color: #CCCCCC;
}

/* line 6, ../../../compass/sass/overrides/_override-data-grid.scss */
table .col-level {
  text-align: center;
  width: 40px;
}

/* line 11, ../../../compass/sass/overrides/_override-data-grid.scss */
.table.has-action thead tr th:last-child {
  text-align: center;
  white-space: nowrap;
  width: 112px;
}

/* line 17, ../../../compass/sass/overrides/_override-data-grid.scss */
.table.has-level thead tr th:first-child {
  width: 25px;
}

/*.dataTable td {
	max-width     : 0;
	overflow      : hidden;
	text-overflow : ellipsis;
	white-space   : nowrap;
}*/
/* line 28, ../../../compass/sass/overrides/_override-data-grid.scss */
table .col-action {
  text-align: center;
  white-space: nowrap;
  width: 120px;
  overflow: visible;
}

/* line 35, ../../../compass/sass/overrides/_override-data-grid.scss */
table .col-color {
  text-align: center;
  width: 50px;
}

/* line 40, ../../../compass/sass/overrides/_override-data-grid.scss */
table .col-loyalty-status {
  max-width: 100px;
}

/* line 44, ../../../compass/sass/overrides/_override-data-grid.scss */
table .col-loyalty-status i {
  margin-right: 5px;
}

/* line 48, ../../../compass/sass/overrides/_override-data-grid.scss */
td.col-time {
  width: 125px;
}

/*
.fixed-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse; !*not really necessary, removes extra white space *!
  border-spacing: 0;
}

.fixed-table .col-notes-body{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
*/
/* line 67, ../../../compass/sass/overrides/_override-data-grid.scss */
.col-notes-body {
  max-width: 99%;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 73, ../../../compass/sass/overrides/_override-data-grid.scss */
.notes-body {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}

/* line 79, ../../../compass/sass/overrides/_override-data-grid.scss */
td.col-checkbox, th.col-checkbox {
  text-align: center;
  width: 105px;
}

/* line 84, ../../../compass/sass/overrides/_override-data-grid.scss */
td.col-checkbox label {
  display: inline-block !important;
}

/* line 88, ../../../compass/sass/overrides/_override-data-grid.scss */
.fc-border-separate thead tr, .table thead tr {
  font-size: 13px;
}

/* line 6, ../../../compass/sass/overrides/_override-selection.scss */
::-moz-selection {
  /* Code for Firefox */
  color: #454545;
  background: #fff6da;
}

/* line 12, ../../../compass/sass/overrides/_override-selection.scss */
::selection {
  color: #454545;
  background: #fff6da;
}

/* line 6, ../../../compass/sass/overrides/_override-flags.scss */
.flag.flag-en-us {
  background-position: -144px -154px;
}

/* line 10, ../../../compass/sass/overrides/_override-flags.scss */
.flag.flag-en-ca, .flag.flag-fr-ca {
  background-position: -48px -22px;
}

/* line 6, ../../../compass/sass/overrides/_override-charts.scss */
.chart-large, .chart-small, .chart-xl {
  overflow: visible;
}

/* line 6, ../../../compass/sass/overrides/_temporary-overrides.scss */
.login-info #current-user {
  text-decoration: none !important;
  color: #C0BBB7;
  display: inline-block;
  margin-top: 6px;
}

/* line 13, ../../../compass/sass/overrides/_temporary-overrides.scss */
.login-info #current-user span {
  text-transform: capitalize;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

/* line 19, ../../../compass/sass/_overrides.scss */
p.address span {
  display: block;
}

/* line 23, ../../../compass/sass/_overrides.scss */
p.address span:first-child {
  display: block;
  font-weight: 600;
}

/* line 3, ../../../compass/sass/default.scss */
td.key {
  font-weight: 600 !important;
}

/* line 7, ../../../compass/sass/default.scss */
table table td.key {
  background-color: #ededed;
}

/* line 11, ../../../compass/sass/default.scss */
table table td.title {
  font-weight: 600 !important;
  background-color: #9b9a9b;
  color: #fefefe;
}

/* line 17, ../../../compass/sass/default.scss */
.ui-accordion .ui-accordion-header {
  background-color: #3276b1 !important;
  color: #fefefe;
  font-weight: 600 !important;
}

/* line 23, ../../../compass/sass/default.scss */
.pgoverlay {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent !important;
  z-index: 21 !important;
  width: 100%;
  height: 100%;
  display: block;
}

/* line 34, ../../../compass/sass/default.scss */
.overlay {
  background: #000;
  opacity: 0.6;
  position: fixed;
  z-index: 1006;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

/* line 47, ../../../compass/sass/default.scss */
H2.rule {
  display: block;
  padding: 8px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  background: #fff;
  font-size: 16px;
  font-weight: 700;
  color: #232323;
  margin: 10px 0px 10px;
}

/* line 58, ../../../compass/sass/default.scss */
#preview-index {
  margin: 10px 0;
}
/* line 61, ../../../compass/sass/default.scss */
#preview-index i {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  margin: 0 7px;
  padding: 9px;
  width: auto !important;
}
/* line 68, ../../../compass/sass/default.scss */
#preview-index i + span {
  position: relative;
  top: -3px;
}
/* line 73, ../../../compass/sass/default.scss */
#preview-index #k-bleed {
  background: lightskyblue;
}
/* line 76, ../../../compass/sass/default.scss */
#preview-index #k-trim {
  background: #f14b52;
}
/* line 79, ../../../compass/sass/default.scss */
#preview-index #k-safe {
  background: lightgreen;
}

/* line 84, ../../../compass/sass/default.scss */
.preflight-preview {
  margin: 15px 0;
  border: black solid 1px;
  /*width          : 1010px;*/
  /*height         : 568px;*/
  /*background     : url('../img/FB_sample_correct_withtemplate.jpg') no-repeat center;*/
  padding: 0px;
  display: table-cell;
  vertical-align: middle;
}
/* line 93, ../../../compass/sass/default.scss */
.preflight-preview > .proof-overlay {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*.preflight-preview {
  margin         : 15px 0;
  border         : rgba(0, 0, 0, 1) solid 1px;
  !*width          : 1010px;*!
  !*height         : 568px;*!
  background     : url('../img/FB_sample_correct_withtemplate.jpg') no-repeat center;
  padding        : 0px;
  display        : table-cell;
  vertical-align : middle;
}

.preflight-preview > .proof-overlay {
  margin-left  : auto;
  margin-right : auto;
  display      : block;
}*/
/* line 117, ../../../compass/sass/default.scss */
.preflight-preview-old {
  margin: 15px 0;
  border: black solid;
}

/* line 122, ../../../compass/sass/default.scss */
.label-group {
  margin-bottom: 0 !important;
}

/* line 126, ../../../compass/sass/default.scss */
.borderless td, .borderless th {
  border: none !important;
}

/* line 130, ../../../compass/sass/default.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* line 134, ../../../compass/sass/default.scss */
#txtAssociateInitials {
  text-transform: uppercase;
}

/* line 138, ../../../compass/sass/default.scss */
.dividerLine {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

/* line 144, ../../../compass/sass/default.scss */
.grayout {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

/*# sourceMappingURL=default.css.map */
