<!--###############################################################-->
<!--## Created by Shawn Miller on 4/17/2015                      ##-->
<!--## Filename: public/app/layout/layout.tpl.html               ##-->
<!--## ############################################################-->

<!--###############################################################-->
<!--## HEADER                                                    ##-->
<!--###############################################################-->
<div data-smart-include="app/layout/partials/header.tpl.html" class="placeholder-header"></div>

<!--###############################################################-->
<!--## Left panel : Navigation area                              ##-->
<!--## Note: This width of the aside area can be adjusted        ##-->
<!--##       through LESS variables                              ##-->
<!--###############################################################-->
<!--<div data-smart-include="app/layout/partials/navigation.tpl.html" class="placeholder-left-panel"></div>-->

<div login-info></div>

<div system-menu></div>

<!--###############################################################-->
<!--## MAIN PANEL                                                ##-->
<!--###############################################################-->
<div id="main" role="main">

    <!--<demo-states></demo-states>-->

	<!--#######################################################-->
	<!--## RIBBON                                            ##-->
	<!--#######################################################-->
    <div id="ribbon">

		<!--SM-3658 - Remove refresh Icon in the top menu (local storage)-->
		<!--
		<span class="ribbon-button-alignment">
			<span id="refresh" class="btn btn-ribbon" reset-widgets tooltip-placement="bottom"
			      tooltip-html-unsafe="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings.">
				<i class="fa fa-refresh"></i>
			</span>
		</span>
		-->

	    <!--#######################################################-->
	    <!--## BREADCRUMB                                        ##-->
	    <!--#######################################################-->
        <state-breadcrumbs></state-breadcrumbs><!--/breadcrumb -->

    </div><!--/#ribbon-->

    <!--#######################################################-->
    <!--## SMALL PAGE THUMPER                                ##-->
    <!--#######################################################-->
    <div data-smart-router-animation-wrap="content content@app" data-wrap-for="#content">
        <div data-ui-view="content" data-autoscroll="false"></div>
    </div>

</div><!--/#main-->

<!--###############################################################-->
<!--## PAGE FOOTER                                               ##-->
<!--###############################################################-->
<div data-smart-include="app/layout/partials/footer.tpl.html"></div>

<!--###############################################################-->
<!--## SHORTCUT                                                  ##-->
<!--###############################################################-->
<div data-smart-include="app/components/shortcut/shortcut.tpl.html"></div>

<!--###############################################################-->
<!--## OVERLAY                                                   ##-->
<!--###############################################################-->
<div id="pageOverlay" class="overlay hidden"></div>

<!--###############################################################-->
<!--## SPIN JS                                                   ##-->
<!--###############################################################-->
<custom-spinner id="spCustomSpinner" ></custom-spinner>