 <div class='container-fluid' id='content'>

<heading-initial></heading-initial>


<div class='row' id='focusget'>
    
    <side-initials></side-initials>



    <div class='col-md-7' style='background-color: #F7F7F7;;bottom: 0'>
        <h1 ng-show='selectedChat.length==0'>Search Friends</h1>
    <div style='margin-right:23%;margin-left:23%;background-color:grey;margin-top: 30px;margin-bottom: 20px;' ng-show='selectedChat.length==0'>
         <angucomplete-alt id="members"
              ng-model='searchFriend'
              placeholder="Search Friends"
              pause="1000"
              selected-object="selectedFriend"
              local-data="findFriends"
              local-search="localSearch"
              title-field="fullName"
              minlength="1"
              input-class="form-control form-control-small"
              />
          </div>

          <!-- <nav class="navbar navbar-default"> -->
  <!-- <div class="container-fluid"> -->
    <div class="navbar-header" style='padding: 5px;' ng-show='selectedChat'>
      <button type="button" class="btn btn-primary">{{selectedChat.fullName}} <span class="badge">7</span></button>
     <!-- <button type="button" class="btn btn-primary">rana <span class="badge">7</span></button> -->
    </div>
    <div style='background-color: lightblue;' ng-show='selectedChat' >

      <div class='row' style='margin:0px;'>
        <ul class="pages">
          <li class="chat page" style='display: list-item;'>
      <div class="chatArea">
        <ul class="messages" >
            <!--< li ng-repeat='chat in currentChat' ng-class='{chatStyle:chat.senderDetails.senderId == currentUser.userId}'>
          <span class="username" style="color:rgb(56, 36, 170);" ng-show='chat.senderDetails.senderId != currentUser.userId'>{{chat.senderDetails.fullName}}</span>
          <span class="username" style="color:rgb(56, 36, 170);" ng-show='chat.senderDetails.senderId == currentUser.userId'>{{chat.senderDetails.fullName}}</span>&nbsp;&nbsp;<span class="messageBody">
            {{chat.message}}
          </span>
          <br/>
           </li > -->
            <li style='border:none;'><br/>
              <div style='float: right;padding-right: 20px;' ng-repeat='chat in currentChat' ng-class='{chatStyle:chat.senderDetails.senderId == currentUser.userId}'>
            <span class="username" ng-show='chat.senderDetails.senderId != currentUser.userId ' class="chatColor">{{chat.recieverDetails.fullName}}</span>&nbsp;&nbsp;<span class="messageBody" ng-show='chat.senderDetails.senderId != currentUser.userId '>
            {{chat.message}} </span>

             <span class="username" ng-show='chat.senderDetails.senderId == currentUser.userId' class="notherChange">{{chat.senderDetails.fullName}}</span>&nbsp;&nbsp;<span class="messageBody" ng-show='chat.senderDetails.senderId == currentUser.userId'>
            {{chat.message}} </span>
          </div><br/>
          <!-- <div>
            <span class="username" style="color: rgb(240, 12, 224);">acha</span>&nbsp;&nbsp;<span class="messageBody">
            aaho </span>
          </div><br/>
          <div style='float: right;padding-right: 20px;'>
            <span class="username" style="color: rgb(240, 12, 224);">acha</span>&nbsp;&nbsp;<span class="messageBody">
            aaho </span>
          </div><br/>
          <div>
            <span class="username" style="color: rgb(240, 12, 224);">acha</span>&nbsp;&nbsp;<span class="messageBody">
            aaho </span>
          </div><br/> -->
           </li>

         </ul>
           
      </div>
     <div class='row' style='margin:0px;padding: 5px;'>
        <div class='col-lg-10'>
        <input type="text" name="" ng-model='chat_text' placeholder="send text..." style='width: 100%;height: 90%;border: none;'></div>
        <div  class='col-lg-2'>
        <button class='btn btn-primary' ng-click='sendMessageLi(chat_text)'>send</button></div>
      </div>
    <!-- </div> -->
    </li>
  </ul>
      </div>
  </div>


    </div>
    <div class='col-md-3'>
  <div class='row' style='border:1px solid;padding: 10px;color: white;' ng-repeat='friend in listFriends'>
    <div class='col-lg-12' ng-repeat='data in friend.members' ng-if='data._id != currentUser.userId' ng-click='createChat(data,friend._id)'>
      {{data.fullName}}
    </div>
    <!-- <div class='col-lg-9'>
  {{friend.lastName}}
    </div> -->
  </div>
  <div style='text-align: center;margin-top: 10px;color: white;' ng-show='listFriends.length==0'>
      please Add some friends to chat
  </div>
</div>
    </div>
    
  </div>

    <!-- <script src="dist/js/custom.min.js"></script> -->

