 <div class='container-fluid' id='content'>

<heading-initial></heading-initial>


<div class='row' id='focusget'>
    
    <side-initials></side-initials>



    <div class='col-md-10' style='background-color: #F7F7F7;;bottom: 0'>
        
    <div style='margin-right:23%;margin-left:23%;background-color:grey;margin-top: 30px;margin-bottom: 20px;'>
         <angucomplete-alt iid="members"
              placeholder="Search Friends"
              pause="300"
              selected-object="selectedCountry"
              local-data="friends"
              local-search="localSearch"
              title-field="firstName,lastName,age"
              minlength="1"
              input-class="form-control form-control-small"/>
          </div>
  </div>

    </div>
    </div>
    
  </div>

    <!-- <script src="dist/js/custom.min.js"></script> -->

