<?xml version="1.0"?>

<configuration>
   <location path="index.html">
      <system.webServer>
        <httpProtocol>
          <customHeaders>
            <add name="Cache-Control" value="no-cache" />
            <add name="max-age" value="0" />
          </customHeaders>
        </httpProtocol>
              <staticContent>
                 <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00.00:00:00" />
              </staticContent>
      </system.webServer>
    </location>
    <system.webServer>
      <staticContent>
         <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      </staticContent>
    </system.webServer>

</configuration>
