   <div id='loginPage'>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form id='loginForm'>
              <h1>{{getWord('loginForm')}}</h1>
              <div>
                <input type="text" class="form-control"  placeholder="{{getWord('username')}}" name="username" ng-model='userInfo.username'/>
              </div>
              <div>
                <input name="password" type="password" class="form-control" placeholder="{{getWord('password')}}" ng-model='userInfo.password' />
              </div>
              <div>
                <a class="btn btn-default submit" ng-click='loginUser()'>{{getWord('loginMsg')}}</a>
                <a class="reset_pass" >{{getWord('forgotPassword')}}</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">{{getWord('newtosite')}}?
                  <a href='/#/register' class="to_register"> {{getWord('createaccount')}} </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> {{getWord('chatbot')}} !</h1>
                  <p>©2018 {{getWord('rightreserved')}}</p>
                </div>
              </div>
 			</form>
          </section>
        </div>

    </div>

</div>

<custom-spinner id='pageOverlay'></custom-spinner>