<div class="container centerClass">

	<!-- container class stated from here -->

    <div class="row vertical-offset-100" >

    	<!-- Starting row  -->


    	<div class="col-md-4 col-md-offset-4">
    	
    		<!-- Base class  -->



    		<div class="panel panel-default">
			
    			<!-- Head section -->

			  	<div class="panel-heading" style='margin-bottom: 50px'>
			    	<h3 class="panel-title clrWht">Please sign in</h3>
			 	</div>
			  	
			 	<!-- Head section ends here. -->

			  	<div class="panel-body">
			    
			  		<!-- Validating login form  -->

			    	<login-auth-form></login-auth-form>
			    	
			    	<!-- validation ends here -->

			    	<div class='col-xs-6'>
			    		<a ><label class='clrWht forgot' style='float: right;'>{{getWord('forgotPassword')}}!</label></a>
			    	</div>
			    	
			    	<div class='col-xs-6'>
			    		<a href='#/register'><label class='clrWht forgot' style='float: left;'>{{getWord('Signup')}}</label></a>
			    	
			    	</div>

			    </div>

			</div>

			<!-- Panel class ends here -->

		</div>
	</div>
	<!-- Row ends here -->
</div>

<!-- container ends -->

<!--###############################################################-->
<!--## OVERLAY                                                   ##-->
<!--###############################################################-->
<div id="pageOverlay" class="overlay hidden"></div>

<!--###############################################################-->
<!--## SPIN JS                                                   ##-->
<!--###############################################################-->
<custom-spinner id="spCustomSpinner" ></custom-spinner>