  <div class='col-md-2' style='background-color: white;'>
        
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" style='background: #2A3F54;bottom: 0'>
              <div class="menu_section" >
                 <h3 style='padding-top: 10px;'>General</h3>
                 <!-- <ul> -->
                <ul class="nav side-menu">
                  <li><a href='/#/dashboard'><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                  </li>
                  <li><a href='/#/connect'><i class="fa fa-edit"></i> Connect <span class="fa fa-chevron-down"></span></a>
                  </li>
                  <li><a><i class="fa fa-desktop"></i> View Web Response <span class="fa fa-chevron-down"></span></a>
                  </li>
                  <li><a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
                  </li>
                  <li><a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
                  </li>
                  <li><a><i class="fa fa-clone"></i>Inbox <span class="fa fa-chevron-down"></span></a>
                  </li>
                </ul>
              </div>
              <div class="menu_section">
                <h3>Live On</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-bug"></i> Concern Our AI <span class="fa fa-chevron-down"></span></a>
                  </li>
                  <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                  </li>   
                 </ul>
              </div>
          </div>
    </div>