<div class='container'>

  <!-- <div class='row'> -->
	
<div class='col-lg-2 col-sm-2 col-md-2'>
</div>
	<div class='col-lg-8 col-sm-8 col-md-2 mid-body'>
	 <div class='modal-body'>
		<div class='heading-data'>
			<marquee direction='right' behavior='alternate'><strong>Another thing to do is have some rest</strong></marquee>
		</div>
		<hr>
		<div class='row'>
			<div class='col-lg-4 col-sm-3 col-md-4 col-xs-4'>
			<img class='first-image' src='download.jpg'  alt='images not here'>
			</div>
			<div class='col-lg-8'>
			<div class='col-lg-6 col-sm-3 col-md-4 col-xs-4'>
			<label class='col-sm label-heading'>Vishal Rana</label>
			</div>
			<div class='col-lg-6 col-sm-3 col-md-4 col-xs-4'>
			<label class='label-heading-right'>9837398749</label><br>
			<label class='label-heading-right'>dummy</label>
			</div>
			</div>
		</div>
		<hr>
		<div class='secondary-head'>
			<div class='row'> 
				<div class='col-lg-3 col-sm-6'>
					<button class='btn btn-primary btning' title='first step'>First</button>
				</div>
				<div class='col-lg-3 col-sm-6'>
					<button class='btn btn-primary btning' title='second step'> Second</button>
				</div>
				<div class='col-lg-3 col-sm-6'>
					<button class='btn btn-primary btning' title='third step'> Third</button>
				</div>
				<div class='col-lg-3 col-sm-6'>
					<button class='btn btn-primary btning' title='fourth step'> Four</button>
				</div>	
			</div>
		</div>
		<hr>
		<div class='final-div'>
			<Ul>
				<strong>
				<li>First</li>
				<li>Second</li>
				<li>Third</li>
				<li>Four</li>
			</strong>
			</Ul>
		</div>
		<hr>
		<div class='submit-class'>
			<button class=' btn btn-success stn-btn'>Submit Details</button>
		</div>
	</div>
	</div>
	</div>
