<div class="container">
	<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend class='clrWht'><a><i class="glyphicon glyphicon-globe clrWht" ></i></a> Sign up!</legend>
            <form   class="form" role="form">
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="firstname" placeholder="First Name" type="text" ng-model='obj.firstName'
                        required autofocus />
                </div>
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="lastname" placeholder="Last Name" type="text" ng-model='obj.lastName' required />
                </div>
            </div>
            <input class="form-control" name="youremail" placeholder="Your Email" type="email" ng-model='obj.email'/>
            <input class="form-control" name="reenteremail" placeholder="Re-enter Email" type="email" ng-model='reEmail' />
            <input class="form-control" name="password" placeholder="Your Password" type="password" ng-model='obj.password' />
			<div class="row">	
				<div class='col-xs-12' id='thepwddiv'></div>
				
			</div>
            <label for="" class='clrWht'>
                Birth Date</label>
            <div class="row">
                <div class="col-xs-4 col-md-4">
                    <month-dir></month-dir>
                </div>
                <div class="col-xs-4 col-md-4">
                  <day-dir></day-dir>
                </div>
                <div class="col-xs-4 col-md-4">
                   <year-dir></year-dir>
                </div>
            </div>
            <label class="radio-inline clrWht">
                <input type="radio" name="sex" id="inlineCheckbox1" value="male" ng-model='obj.sex'/>
                Male
            </label>
            <label class="radio-inline clrWht">
                <input type="radio" name="sex" id="inlineCheckbox2" value="female" ng-model='obj.sex'/>
                Female
            </label>
            <br />
            <br />
            <button class="btn btn-lg btn-primary btn-block clrWht" ng-click='signup()'>
                Sign up</button>
                 <br />
               <label class='clrWht fltRgt' style='cursor: pointer;'>  <a ng-click='loginRoute()'>Login</a></label>
            </form>
        </div>
    </div>
</div>