<div id="level-wrapper">

	<div id="level-selector"
		class="btn-group"
		data-toggle="buttons"
		ng-show ="(user.isSysAdmin || user.isFacGrpAdmin) && !id" >

		<label id="globalSelectBtn" class="btn btn-success"
			   tooltip-placement="top"

			   uib-tooltip="{{getWord('Global')}}"
			   ng-hide="!user.isSysAdmin" >
			<input type="radio" name="accessButtons" ng-model="accessLevel.access" ng-value="1" />
			<span id="test123" class="fa fa-globe fa-lg"></span>
		</label>

		<label id="groupSelectBtn" class="btn btn-success"
				ng-show="user.curFacilityGrpId"
				tooltip-placement="top"

				uib-tooltip="{{user.curFacilityGrpName}}">
			<input type="radio" name="accessButtons" ng-model="accessLevel.access" value="2" />
			<span class="fa fa-users fa-lg"></span>
		</label>

		<label id="facilitySelectBtn" class="btn btn-success"
			   tooltip-placement="top"

			   uib-tooltip="{{user.curFacilityName}}">
			<input type="radio" name="accessButtons" ng-model="accessLevel.access" value="3" />
			<span class="fa fa-building fa-lg"> </span>
		</label>
	</div>


	<div id="level-display" ng-show="id">

		<i ng-show="showGlobal"
		   class="fa fa-globe fa-2x"
		   tooltip-placement="top"

		   uib-tooltip="{{getWord('Global')}}" ></i>

		<i ng-show="showGroup"
		   class="fa fa-users fa-2x"
		   tooltip-placement="top"

		   uib-tooltip="{{user.curFacilityGrpName}}" ></i>

		<i ng-show="showFacility"
		   class="fa fa-building fa-2x"
		   tooltip-placement="top"

		   uib-tooltip="{{user.curFacilityName}}"></i>

	</div>

</div>