<div id="datatable-filters" class="panel panel-default panel-filters">

	<div id="filterCollapse" class="panel-body collapse">

		<div class="col-md-12">

			<div class="row">

				<div ng-show="showOrderPriority()" class="col-md-4">
					<div class="form-group">

						<label class="control-label" for="cboOrderPriority"><strong>{{getWord('Priority')}}</strong></label>

						<!--########################################-->
						<!--## SELECT2 SINGLE SELECT              ##-->
						<!--########################################-->
						<select id="cboOrderPriority"
						        ng-model="orderPriority"
						        class="form-control"
						        style="width:100%;"
						        data-ng-options="orderPriority as orderPriority.name for orderPriority in orderPriorities">
							<option value=""> {{getWord('SelectOption')}}</option>
						</select>

					</div><!--/.form-group-->

				</div><!--/.column-->


				<div ng-show="showJobPriority()" class="col-md-4">

					<div class="form-group">
						<label class="control-label" for="cboJobPriority"><strong>{{getWord('JobPriority')}}</strong></label>

						<!--########################################-->
						<!--## SELECT2 SINGLE SELECT              ##-->
						<!--########################################-->
						<select id="cboJobPriority"
						        ng-model="jobPriority"
						        class="form-control"
						        style="width:100%;"
						        data-ng-options="jobPriority as jobPriority.name for jobPriority in jobPriorities">
							<option value=""> {{getWord('SelectOption')}}</option>
						</select>

					</div><!--/.form-group-->

				</div><!--/.column-->


				<div ng-show="showOrderStatus()" class="col-md-4">

					<div class="form-group">
						<label class="control-label" for="cboOrderStatus"><strong>{{getWord('Status')}}</strong></label>

						<!--########################################-->
						<!--## SELECT2 SINGLE SELECT              ##-->
						<!--########################################-->
						<custom-order-status></custom-order-status>

					</div><!--/.form-group-->

				</div><!--/.column-->


				<div ng-show="showJobStatus()" class="col-md-4">

					<div class="form-group">
						<label class="control-label" for="cboJobStatus"><strong>{{getWord('JobStatus')}}</strong></label>

						<!--########################################-->
						<!--## SELECT2 SINGLE SELECT              ##-->
						<!--########################################-->
						<job-status></job-status>

					</div><!--/.form-group-->

				</div><!--/.column-->


				<div class="col-md-4">
					<div  ng-hide="object == 'Jobs' || object == 'JobsPendingRoute'" class="form-group">
						<label class="control-label" for="cboCustomerStatus"><strong>{{getWord('LoyaltyStatus')}}</strong></label>

						<!--########################################-->
						<!--## SELECT2 SINGLE SELECT              ##-->
						<!--########################################-->
						<select id="cboCustomerStatus"
								ng-model="loyaltyStatus"
								class="form-control"
								style="width:100%"
								data-ng-options="loyaltyStatus as loyaltyStatus.name for loyaltyStatus in loyaltyStatuses">
							<option value=""> {{getWord('SelectOption')}} </option>
						</select>

					</div>


					<div class="form-group" ng-hide="object == 'Orders' || object == 'ClosedOrders'">
						<label class="control-label" for="cboMultiSelectOther">
							<strong>{{getWord('Other')}}</strong></label>

						<!--########################################-->
						<!--## SELECT2 MULTI SELECT               ##-->
						<!--########################################-->
						<!--<multi-grp-select-drop-down></multi-grp-select-drop-down>-->
						<select id="cboMultiSelectOther"
								multiple
								multi-grp-select-drop-down
								style="width:100%;"
								class="select2 form-control"
								ng-model="otherSelection"
								data-ng-options="item.value as item.name group by item.group for item in multiSelectorLists">
						</select>

					</div><!--/.form-group-->

				</div><!--/.column-->


				<!--<div class="col-md-4" ng-show="showCategoryFilter()">-->
				<!--<div class="form-group">-->
				<!--<label class="control-label" for="cboJobProductCellType"><strong>{{getWord('Category')}}</strong></label>-->
				<!--&lt;!&ndash;########################################&ndash;&gt;-->
				<!--&lt;!&ndash;## SELECT2 SINGLE SELECT              ##&ndash;&gt;-->
				<!--&lt;!&ndash;########################################&ndash;&gt;-->
				<!--<select id="cboJobProductCellType"-->
				<!--ng-model="jobProductCellType"-->
				<!--class="form-control"-->
				<!--style="width:100%;"-->
				<!--data-ng-options="jobProductCellType as jobProductCellType.name for jobProductCellType in jobProductCellTypes">-->
				<!--<option value=""> {{getWord('SelectOption')}}</option>-->
				<!--</select>-->

				<!--</div>&lt;!&ndash;/.form-group&ndash;&gt;-->

				<!--</div>&lt;!&ndash;/.column&ndash;&gt;-->


			</div><!--/.row-->


			<div class="row">


				<!--########################################-->
				<!--## DATE TYPE SELECTION COLUMN         ##-->
				<!--########################################-->
				<div class="col-md-2">

					<div class="form-group">

						<label class="control-label"><strong>{{getWord('DateType')}}</strong></label>

						<!--########################################-->
						<!--## SELECT2 SINGLE SELECT              ##-->
						<!--########################################-->
						<select id="cboDateType"
						        ng-model="dateType"
						        ng-change="updateFromToDate()"
						        ng-disabled="isPastDue"
						        class="form-control"
						        style="width:100%;">
							<option value="" selected="selected" ng-bind="getWord('SelectOption')"></option>
							<option value="OrderDate" ng-bind="getWord('CreateDate')"></option>
							<option value="DueDateTime" ng-hide="object == 'ClosedOrders'" ng-bind="getWord('DueDate')"></option>
							<option value="ClosedDate" ng-show="object == 'ClosedOrders'" ng-bind="getWord('ClosedDate')"></option>
						</select>

					</div><!--/.form-group-->

				</div><!--/.column-->

				<div class="col-md-4">

					<div class="form-group" ng-class="{'has-error': validFromDate}">
						<label class="control-label"><strong>{{getWord('dateFrom')}}</strong></label>

						<div class="input-group">
							<input ng-model="fromDate" ng-disabled="isPastDue || !dateType" type="text" id="dpFromDate" name="dpFromDate"
							       placeholder="{{getWord('SelectOption')}}" class="form-control datepicker"
							       data-smart-datepicker data-date-format="mm/dd/yy" maxlength="10" validate-from-date>
							<label for="dpFromDate" class="input-group-addon"><i class="fa fa-calendar"></i></label>
						</div><!--/.input-group-->

						<em class="input-validation-error text-danger" ng-class="ng-hide" ng-show="validFromDate">
							<span class="ng-hide" ng-show="true">{{getWord('PleaseEnterValidDate')}}</span>
						</em>
					</div><!--/.form-group-->

				</div><!--/.column-->

				<div class="col-md-4">
					<div class="form-group" ng-class="{'has-error': validToDate}">

						<label class="control-label"><strong>{{getWord('dateTo')}}</strong></label>

						<div class="input-group">
							<input ng-model="toDate" ng-disabled="!fromDate || validFromDate" type="text" id="dpToDate"
							       name="dpToDate" placeholder="{{getWord('SelectOption')}}"
							       class="form-control datepicker" data-smart-datepicker
							       data-date-format="mm/dd/yy" maxlength="10" validate-to-date>
							<label for="dpToDate" class="input-group-addon"><i class="fa fa-calendar"></i></label>
						</div><!--/.input-group-->
						<em class="input-validation-error text-danger" ng-class="ng-hide" ng-show="validToDate">
							<span class="ng-hide" ng-show="true">{{getWord('EnterValidDate')}}</span>
						</em>
					</div><!--/.form-group-->

				</div><!--/.column-->

				<div class="col-md-2" ng-show="showIsPastDue()">

					<!--####################################-->
					<!--## styled checkbox                ##-->
					<!--####################################-->
					<div class="checkbox">
						<br/>
						<label>
							<input id="chkIsPastDue" type="checkbox"
							       class="checkbox style-0"
							       ng-model="isPastDue"
							       ng-change="disableDates()"/>
							<span><strong>{{getWord('PastDue')}}</strong></span>
						</label>
					</div>


				</div>

			</div><!--/.row-->

		</div><!--/.column-->
		<tag-builder tags="tags"></tag-builder>
		<div class="row">
			<div class="col-md-12">
				<div class="pull-right">
					<button type="button" id="applyFilter" ng-click="applyFilters();" class="btn btn-default btn-sm" ng-disabled="validFromDate || validToDate">
						{{getWord('ApplyFilters')}}
					</button>
					<button type="button" id="resetFilter" ng-click="resetFilters($event);" class="btn btn-default btn-sm">
						{{getWord('ResetFilters')}}
					</button>
				</div><!--/.pull-right-->
			</div><!--/.column-->
		</div><!--/.row-->

	</div><!--/#filterCollapse-->

	<div class="panel-footer round-corners">
		<a id="filterToggleDown" ng-hide="showFilters" class="pull-right" ng-click="showFilters = true" data-toggle="collapse" href="#filterCollapse">
			{{getWord('ShowFilters')}}
			<i id="filterToggleChevronDown" class="fa fa-chevron-down"></i>
		</a>

		<a id="filterToggleUp" ng-show="showFilters" class="pull-right" ng-click="showFilters = false" data-toggle="collapse" href="#filterCollapse">
			{{getWord('HideFilters')}}
			<i id="filterToggleChevronUp" class="fa fa-chevron-up"></i>
		</a>

		<div class="clearfix"></div>
	</div><!--/.panel-footer-->

</div>

