<div id="facility-btn" class="btn-header transparent pull-right hidden-sm hidden-xs">
	<div>

		<a title="Facility Selector" id="facility-command-btn">
			<i class="fa fa-building-o"></i>
		</a>

		<div class="popover bottom">
			<div class="arrow"></div>
			<div class="popover-content">
				<div class="form-inline">
					<H6>Select Facility</H6>
					<div class="form-group" style="width: 60%;">
						<select style="width:100%" class="form-control">
							<optgroup label="Option Group 1">
								<option value="F1">Facility 1</option>
								<option value="F2">Facility 2</option>
							</optgroup>
							<optgroup label="Option Group 2">
								<option value="F3">Facility 3</option>
								<option value="F4">Facility 4</option>
								<option value="F5">Facility 5</option>
								<option value="F6">Facility 6</option>
							</optgroup>
							<optgroup label="Option Group 3">
								<option value="F7">Facility 7</option>
								<option value="F8">Facility 8</option>
								<option value="F9">Facility 9</option>
								<option value="F10">Facility 10</option>
								<option value="F11">Facility 11</option>
							</optgroup>
						</select>
					</div><!--/.form-group-->
					<div class="pull-right">
						<a href-void class="btn btn-success" id="set-facility-btn">
							<i class="glyphicon glyphicon-ok"></i>
						</a>
						<a href-void class="btn bg-color-purple txt-color-white"
						   onclick="$('#facility-btn .popover').fadeOut(50);">
							<i class="glyphicon glyphicon-remove"></i>
						</a>
					</div><!--/.pull-right-->
				</div>
			</div><!--/.popover-content-->
		</div><!--/.popover.bottom-->
	</div>
</div><!--/#facility-btn-->