<aside id="left-panel">

	<!--##################################################################################################-->
	<!--## Created by Shawn Miller on 3/1/2015                                                          ##-->
	<!--## Filename: public/app/layout/partials/navigation.tpl.html                                     ##-->
	<!--##################################################################################################-->

    <!--############################################################-->
    <!--## USER INFO COMPONENT                                    ##-->
    <!--############################################################-->
    <div login-info></div>

    <nav>

        <!--############################################################-->
        <!--## MENU                                                   ##-->
	    <!--############################################################-->

        <!--############################################################-->
        <!--## NOTE: Notice the gaps after each icon usage <i></i>..  ##-->
        <!--## Please note that these links work a bit different than ##-->
	    <!--## traditional href="" links.                             ##-->
        <!--############################################################-->
        <ul data-smart-menu>

            <!--############################################################-->
            <!--## START DASHBOARD                                        ##-->
            <!--############################################################-->
            <li id="nav-item-dashboard"  data-ui-sref-active="active">
                <a data-ui-sref="app.dashboard"><i class="fa fa-lg fa-fw fa-home"></i>
                    <span class="menu-item-parent">{{getWord('Dashboard')}}</span>
                </a>
            </li><!--/#nav-item-dashboard-->

            <!--############################################################-->
            <!--## START CUSTOMER MULTI LEVEL MENU                        ##-->
            <!--############################################################-->
            <li id="nav-item-customer" data-menu-collapse>
                <a href="#">
                    <i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent"> {{getWord('Customers')}} </span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.customer.index"> {{getWord('CustomersList')}}</a>
                    </li>

                    <li id="nav-item-customer-setup" data-menu-collapse>
                        <a href="#">Customer Setup</a>

                        <ul>

                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.customer.setup.accounting-types"> {{getWord('AccountingTypes')}} </a>
                            </li>

                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.customer.setup.business-types" > {{getWord('BusinessTypes')}} </a>
                            </li>

	                        <!--TODO: Add Localization for Customer Class-->
	                        <li data-ui-sref-active="active">
		                        <a data-ui-sref="app.customer.setup.customer-class" > {{getWord('CustomerClass')}} </a>
	                        </li>

	                        <!--TODO: Add Localization for Payment Methods-->
	                        <li data-ui-sref-active="active">
		                        <a data-ui-sref="app.customer.setup.payment-methods" >  {{getWord('PaymentMethods')}} </a>
	                        </li>

	                        <li data-ui-sref-active="active">
                                <a data-ui-sref="app.customer.setup.pricing-groups" > {{getWord('PricingGroups')}} </a>
                            </li>

                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.customer.setup.customer-terms" > {{getWord('CustomerTerms')}} </a>
                            </li>

                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.customer.setup.customer-sources" > {{getWord('CustomerSources')}} </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </li><!--/#nav-item-customer-->

            <!--############################################################-->
            <!--## START ESTIMATES                                        ##-->
            <!--############################################################-->
            <li id="nav-item-estimates" data-ui-sref-active="active">
                <a data-ui-sref="app.estimates.list">
                    <i class="fa fa-lg fa-fw fa-line-chart"></i>
                    <span class="menu-item-parent"> {{getWord('Estimates')}} </span></a>
            </li><!--/.nav-item-estimates-->

            <!--############################################################-->
            <!--## START ORDERS                                           ##-->
            <!--############################################################-->
            <li id="nav-item-orders" data-ui-sref-active="active">
                <a data-ui-sref="app.orders.list">
                    <i class="fa fa-lg fa-fw fa-inbox"></i>
                    <span class="menu-item-parent"> {{getWord('Orders')}} </span></a>
            </li><!--/.nav-item-orders-->

            <!--############################################################-->
            <!--## START CLOSED ORDERS                                    ##-->
            <!--############################################################-->
            <li id="nav-item-closed-orders" data-ui-sref-active="active">
                <a data-ui-sref="app.closed-orders.list"> <i class="fa fa-lg fa-fw fa-archive"></i>
                    <span class="menu-item-parent"> {{getWord('ClosedOrders')}} </span></a>
            </li>
            <!--/.nav-item-closed-orders-->


            <!--############################################################-->
            <!--## START JOBS                                             ##-->
            <!--############################################################-->
            <li id="nav-item-jobs" data-ui-sref-active="active" class="hide">
                <a data-ui-sref="app.jobs.list">
                    <i class="fa fa-lg fa-fw fa-puzzle-piece"></i>
                    <span class="menu-item-parent">  {{getWord('Jobs')}}  </span></a>
            </li>
			<!--/.nav-item-jobs-->


            <!--############################################################-->
            <!--## START ROUTE PENDING                                    ##-->
            <!--############################################################-->
            <li id="nav-item-route-pending" data-ui-sref-active="active" class="hide">
                <a data-ui-sref="app.jobs.route-pending">
                    <i class="fa fa-lg fa-fw fa-puzzle-piece"></i>
                    <span class="menu-item-parent">  {{getWord('RoutePending')}}  </span></a>
            </li>
			<!--/.nav-item-route-pending-->

			<!--############################################################-->
			<!--## START JOBS MULTI LEVEL MENU                            ##-->
			<!--############################################################-->
			<li id="nav-item-jobs-menu" data-menu-collapse>
				<a href="#">
					<i class="fa fa-lg fa-fw fa-puzzle-piece"></i> <span class="menu-item-parent"> {{getWord('Jobs')}} </span></a>
				<ul>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.jobs.list"> {{getWord('JobsList')}}</a>
					</li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.jobs.job-batching"> {{getWord('Batching')}}</a>
                    </li>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.jobs.route-pending"> {{getWord('RoutePending')}}</a>
					</li>
				</ul>
			</li><!--/#nav-item-customer-->

            <!--############################################################-->
            <!--## START PRODUCTION                                       ##-->
            <!--############################################################-->
            <li id="nav-item-production" data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-sliders"></i> <span class="menu-item-parent"> {{getWord('Production')}}</span></a>
                <ul>


	                <!--####################################################-->
	                <!--## START PRE-PRESS MULTI MENU                     ##-->
	                <!--####################################################-->
	                <li data-menu-collapse id="item-production-prepress">
		                <a href="#"> {{getWord('Prepress')}} </a>
		                <ul id="nav-sub-items-prepress">
			                <li data-ui-sref-active="active">
				                <a data-ui-sref="app.production.workflow-editor.list"> {{getWord('WorkflowEditor')}}  </a>
			                </li>
		                </ul><!--/#nav-sub-items-prepress-->
	                </li>


                    <!--####################################################-->
                    <!--## START JOB MANAGER SETUP MULTI MENU             ##-->
                    <!--####################################################-->
                    <li data-menu-collapse id="item-production-job-manager">
                        <a href="#"> {{getWord('JobManager')}} </a>
                        <ul id="nav-sub-items-job-manager">

                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.production.job-manager.snapshot"> {{getWord('Snapshot')}}  </a>
                            </li>

                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.production.job-manager.sales" > {{getWord('Sales')}} </a>
                            </li>

                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.production.job-manager.prepress" >{{getWord('Prepress')}} </a>
                            </li>

                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.production.job-manager.production" > {{getWord('Production')}} </a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.production.job-manager.payments" >  {{getWord('Payments')}} </a>
                            </li>
	                        <li data-ui-sref-active="active">
		                        <a data-ui-sref="app.production.job-manager.delivery" >  {{getWord('Delivery')}} </a>
	                        </li>
                        </ul><!--/#nav-sub-items-job-manager-->
                    </li>

                    <li data-ui-sref-active="active">
		                <a data-ui-sref="app.production.job-search"> {{getWord('JobSearch')}}</a>
	                </li>

	                <li data-ui-sref-active="active">
		                <a data-ui-sref="app.production.unassigned-jobs"> {{getWord('UnassignedJobs')}}</a>
	                </li>

	                <li data-ui-sref-active="active">
		                <a data-ui-sref="app.production.jobs-missing-files"> {{getWord('JobsMissingFiles')}}</a>
	                </li>

	                <li data-ui-sref-active="active">
		                <a data-ui-sref="app.production.jobs-customer-comments"> {{getWord('JobsWithCustomerComments')}}</a>
	                </li>

	                <li data-ui-sref-active="active">
		                <a data-ui-sref="app.production.master-jobs"> {{getWord('MasterJobs')}}</a>
	                </li>

	                <li data-ui-sref-active="active">
		                <a data-ui-sref="app.productionSetup.shop-floor-stations"> {{getWord('ShopFloorStation')}}</a>
	                </li>

	                <li data-ui-sref-active="active">
		                <a data-ui-sref="app.production.jobs-no-work-performed"> {{getWord('JobsNoWorkPerformed')}}</a>
	                </li>

                    <!--####################################################-->
                    <!--## START PRODUCTION SETUP MULTI MENU              ##-->
                    <!--####################################################-->
                    <li id="mnu-production-setup" data-menu-collapse>

                        <!--PRODUCTION SETUP-->
                        <a href="#">{{getWord('ProductionSetup')}}</a>

                        <ul>
                            <!--COST CENTERS-->
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.productionSetup.cost-center-categories" > {{getWord('CostCenters')}}</a>
                            </li>
                            <!--COMPONENT CELL TYPE SETUP-->
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.productionSetup.component-cell-types" > {{getWord('ProductCellTypes')}}</a>
                            </li>
                            <!--OPERATIONS-->
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.productionSetup.operations" > {{getWord('Operations')}}</a>
                            </li>
                            <!--REASONS LIST-->
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.productionSetup.reasons-list" >{{getWord('ReasonsList')}}</a>
                            </li>
                            <!--SALES DEPARTMENT-->
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.productionSetup.sales-department" > {{getWord('SalesDepartment')}}</a>
                            </li>
                            <!--IMPOSITION GROUPS-->
                            <li data-ui-sref-active="active" class="hidden">
                                <a data-ui-sref="app.productionSetup.imposition-groups" > {{getWord('ImpositionGroups')}}</a>
                            </li>
                            <!--IMPOSITION JOB FILTERS-->
                            <li data-ui-sref-active="active" class="hidden">
                                <a data-ui-sref="app.productionSetup.imposition-job-filters" > {{getWord('ImpositionJobFilters')}}</a>
                            </li>
                            <!--WORKFLOW ACTIONS-->
                            <li data-ui-sref-active="active" class="hidden">
                                <a data-ui-sref="app.productionSetup.workflow-actions" > {{getWord('WorkflowActions')}}</a>
                            </li>
                            <!--WORKFLOW-->
                            <li data-ui-sref-active="active" class="hidden">
                                <a data-ui-sref="app.productionSetup.workflow" > {{getWord('Workflow')}}</a>
                            </li>
                            <!--WASTE BREAK-->
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.production.resource-setup.waste-break">{{getWord('WasteBreak')}}</a>
                            </li>
                        </ul>

                    </li><!--/#mnu-production-setup-->

                    <!--############################################################-->
                    <!--## START RESOURCES SETUP - PRODUCTION MULTI MENU          ##-->
                    <!--############################################################-->
                    <li id="mnu-resource-setup" data-menu-collapse>

                        <a href="#">{{getWord('ResourceSetup')}}</a>

                        <ul>

                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.production.resource-setup.labor-groups"> {{ getWord('LaborGroups') }}  </a>
                            </li>

                            <!--####################################################-->
                            <!--## START INK SETUP -  MULTI MENU                  ##-->
                            <!--####################################################-->
                            <li id="nav-item-ink-setup" data-menu-collapse>
                                <a href="#">{{getWord('Inks')}}</a>
                                <ul>
                                    <!--INK TYPES-->
                                    <li data-ui-sref-active="active">
                                        <a data-ui-sref="app.production.resource-setup.ink-types" > {{getWord('InkTypes')}}</a>
                                    </li>
                                    <!--INKS-->
                                    <li data-ui-sref-active="active">
                                        <a data-ui-sref="app.production.resource-setup.inks"> {{getWord('Inks')}}</a>
                                    </li>
                                </ul>
                            </li>

                            <!--####################################################-->
                            <!--## START PRESS SETUP -  MULTI MENU                ##-->
                            <!--####################################################-->
                            <li id="nav-item-press-setup" data-menu-collapse>
                                <a href="#">{{getWord('Presses')}}</a>
                                <ul>

                                    <li data-ui-sref-active="active">
                                        <a data-ui-sref="app.production.resource-setup.press-category"> {{getWord('Categories')}}</a>
                                    </li>

                                    <li data-ui-sref-active="active">
                                        <a data-ui-sref="app.production.resource-setup.job-difficulty" > {{getWord('JobDifficulty')}}</a>
                                    </li>

                                    <li data-ui-sref-active="active">
                                        <a data-ui-sref="app.production.resource-setup.presses" > {{getWord('Presses')}}</a>
                                    </li>

                                    <li data-ui-sref-active="active">
                                        <a data-ui-sref="app.production.resource-setup.press-instance" > {{getWord('Instances')}}</a>
                                    </li>

                                </ul>
                            </li>

                            <!--####################################################-->
                            <!--## CUTTER MACHINE                                ##-->
                            <!--####################################################-->
                            <li id="nav-item-cutter-machine-setup" data-menu-collapse>
                                <a href="#">{{getWord('CutterMachines')}}</a>
                                <ul>
                                    <li data-ui-sref-active="active">
                                        <a data-ui-sref="app.production.resource-setup.cutter-machines" > {{ getWord('CutterMachine') }}  </a>
                                    </li>
                                    <li data-ui-sref-active="active">
                                        <a data-ui-sref="app.production.resource-setup.cutter-machine-instances" > {{ getWord('CutterMachineInstances') }}  </a>
                                    </li>
                                </ul>
                            </li>

                            <!--####################################################-->
                            <!--## Slitter MACHINE                                ##-->
                            <!--####################################################-->


                            <li id="nav-item-slitter-machine-setup" data-menu-collapse>
                                <a href="#">{{getWord('SlitterMachines')}}</a>
                                <ul>
                                    <li data-ui-sref-active="active">
                                        <a data-ui-sref="app.production.resource-setup.slitter-machines" > {{ getWord('SlitterMachines') }}  </a>
                                    </li>
                                    <li data-ui-sref-active="active">
                                        <a data-ui-sref="app.production.resource-setup.slitter-machine-instances" > {{ getWord('SlitterMachineInstances') }}  </a>
                                    </li>
                                </ul>
                            </li>

                            <!--####################################################-->
                            <!--## BINDING MACHINE                                ##-->
                            <!--####################################################-->
                            <li id="nav-item-binder-machine-setup" data-menu-collapse>
                                <a href="#">{{getWord('BinderMachines')}}</a>
                                <ul>
                                    <li data-ui-sref-active="active">
                                        <a data-ui-sref="app.production.resource-setup.binder-machines" > {{ getWord('BinderMachines') }}  </a>
                                    </li>
                                    <li data-ui-sref-active="active">
                                        <a data-ui-sref="app.production.resource-setup.binder-machine-instances" > {{ getWord('BinderMachineInstances') }}  </a>
                                    </li>
                                </ul>
                            </li>

                            <!--####################################################-->
                            <!--## GENERAL MACHINE                                ##-->
                            <!--####################################################-->
                            <li id="nav-item-general-machine-setup" data-menu-collapse>
                                <a href="#">{{getWord('GeneralMachines')}}</a>
                                <ul>
                                    <li data-ui-sref-active="active">
                                        <a data-ui-sref="app.production.resource-setup.general-machines"> {{getWord('GeneralMachines')}}</a>
                                    </li>
                                    <li data-ui-sref-active="active">
                                        <a data-ui-sref="app.production.resource-setup.general-machine-instances"> {{getWord('GeneralMachineInstances')}}</a>
                                    </li>
                                </ul>
                            </li>


                            <!--####################################################-->
                            <!--## START STOCK SETUP -  MULTI MENU                ##-->
                            <!--####################################################-->
                            <li id="nav-item-stock-setup" data-menu-collapse>
                                <a href="#">{{getWord('Stocks')}}</a>
                                <ul>

                                    <li data-ui-sref-active="active">
                                        <a data-ui-sref="app.production.resource-setup.stock-grades" >{{getWord('StockGrades')}}</a>
                                    </li>

                                    <li data-ui-sref-active="active">
                                        <a data-ui-sref="app.production.resource-setup.stocks">{{getWord('Stocks')}}</a>
                                    </li>

                                    <li data-ui-sref-active="active">
                                        <a data-ui-sref="app.production.resource-setup.stock-waste">{{getWord('StockWaste')}}</a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li><!--/#mnu-resource-setup-->

                </ul>
            </li><!--/#nav-item-production-->

            <!--############################################################-->
            <!--## START PRODUCTS                                         ##-->
            <!--############################################################-->
	        <li id="nav-item-products" data-menu-collapse>
		        <a href="#"><i class="fa fa-lg fa-fw fa-tags"></i> <span class="menu-item-parent"> {{getWord('Products')}}  </span></a>
		        <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.products.forms-stock"> {{getWord('FormsStock')}} </a>
                    </li>
			        <li data-menu-collapse>
				        <a href="#">{{getWord('Modifiers')}}</a>
				        <ul>
					        <li data-ui-sref-active="active">
						        <a data-ui-sref="app.products.modifiers"> {{getWord('Modifiers')}}   </a>
					        </li>
					        <li data-ui-sref-active="active">
						        <a data-ui-sref="app.products.modifiers-options" > {{getWord('Options')}}   </a>
					        </li>
					        <li data-ui-sref-active="active">
                                <a data-ui-sref="app.products.modifiers-options-strings">
                                    {{getWord('ModifiersOptionsStrings')}} </a>
					        </li>
					        <li data-ui-sref-active="active">
                                <a data-ui-sref="app.products.modifiers-options-categories">
                                    {{getWord('ModifiersOptionsCategories')}} </a>
					        </li>
				        </ul>
			        </li>
                    <li data-menu-collapse>
                        <a href="#"> {{getWord('')}} Product Pricing</a>
                        <ul>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.products.product-pricing-percentage-update">
                                    {{getWord('ProductLevelPricingPercentageUpdate')}} </a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.products.product-pricing"> {{getWord('ProductPricing')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.products.product-pricing-discount-codes">
                                    {{getWord('DiscountCodes')}}</a>
                            </li>
                        </ul>
                    </li>
                    <li data-menu-collapse>
                        <a href="#">  {{getWord('Products')}} </a>
                        <ul>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.products.categories"> {{getWord('Categories')}}   </a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.products.product-groups" > {{getWord('Groups')}}   </a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.products.products" >  {{getWord('Products')}}  </a>
                            </li>
                        </ul>
                    </li>
                </ul>
	        </li><!--/#nav-item-products-->

            <!--############################################################-->
            <!--## START INVENTORY                                        ##-->
            <!--############################################################-->
            <li id="nav-item-inventory" data-ui-sref-active="active">
                <a data-ui-sref="app.inventory.inventory">
                    <i class="fa fa-lg fa-fw fa-list-alt"></i>
                    <span class="menu-item-parent"> {{getWord('Inventory')}}</span></a>
            </li><!--/.nav-item-inventory-->

            <!--############################################################-->
            <!--## START PORTALS                                          ##-->
            <!--############################################################-->
            <li id="nav-item-portals" data-ui-sref-active="active">
                <a data-ui-sref="app.portals.portal">
                    <i class="fa fa-lg fa-fw fa-globe"></i>
                    <span class="menu-item-parent"> {{getWord('Portals')}}</span></a>
            </li><!--/.nav-item-portals-->

            <!--############################################################-->
            <!--## START TEMPLATES                                        ##-->
            <!--############################################################-->
            <li id="nav-item-templates" data-ui-sref-active="active">
                <a data-ui-sref="app.templates.index">
                    <i class="fa fa-lg fa-fw fa-file-code-o"></i>
                    <span class="menu-item-parent"> {{getWord('Templates')}}</span></a>
            </li><!--/.nav-item-templates-->

            <!--############################################################-->
            <!--## START FILES                                            ##-->
            <!--############################################################-->
            <li id="nav-item-files" data-ui-sref-active="active">
                <a data-ui-sref="app.files.index">
                    <i class="fa fa-lg fa-fw fa-folder-o"></i>
                    <span class="menu-item-parent"> {{getWord('Files')}}</span></a>
            </li><!--/.nav-item-files-->


            <!--############################################################-->
            <!--## START REPORTS                                          ##-->
            <!--############################################################-->
            <li id="nav-item-reports" data-ui-sref-active="active">
                <a data-ui-sref="app.reports.index">
                    <i class="fa fa-lg fa-fw fa-bar-chart"></i>
                    <span class="menu-item-parent"> {{getWord('Reports')}}</span></a>
            </li><!--/.nav-item-reports-->

            <!--############################################################-->
            <!--## START SITE                                             ##-->
            <!--############################################################-->
            <li id="nav-item-site" data-menu-collapse ng-show="user.isSysAdmin">
                <a href="#"> <i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent">{{getWord('Site')}}</span></a>

                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.site.system-users">{{getWord('SystemUsers')}}</a>
                    </li>

                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.site.system-roles">{{getWord('SystemRoles')}}</a>
                    </li>

                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.site.facility-groups">{{getWord('FacilityGroups')}}</a>
                    </li>

                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.site.facilities">{{getWord('Facilities')}}</a>
                    </li>

                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.site.system-menus">{{getWord('SystemMenus')}}</a>
                    </li>

                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.site.system-menu-items">{{getWord('SystemMenuItems')}}</a>
                    </li>

                    <!--SSM 09/11/2015 -- PRINTBROKER SETTINGS-->
                    <li data-menu-collapse>
                        <a href="#">{{getWord('PrintBrokerSettings')}}</a>
                        <ul>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.site.print-broker-global-settings">{{getWord('ServerSettings')}}</a>
                            </li>

                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.site.print-broker-local-settings">{{getWord('LocalSettings')}}</a>
                            </li>

                        </ul>
                    </li>

					<!--SSM 07/03/2015 -- PREFLIGHT MANAGEMENT-->
					<!--<li data-ui-sref-active="active">
                        <a data-ui-sref="app.site.preflight-management">{{getWord('PreflightManagement')}}</a>
					</li>-->

					<!--SSM 07/03/2015 -- SYSTEM SETTINGS-->
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.site.system-settings">{{getWord('SystemSettings')}}</a>
                    </li>

					<!--SSM 07/03/2015 -- DELIVERY/SHIPPING-->
					<li data-menu-collapse>
                        <a href="#">{{getWord('DeliveryShipping')}}</a>
						<ul>

							<!--<li data-ui-sref-active="active">-->
								<!--<a data-ui-sref="app.site.delivery-shipping-settings"> {{getWord('Settings')}}   </a>-->
							<!--</li>-->

							<li data-ui-sref-active="active">
                                <a data-ui-sref="app.site.delivery-shipping-methods">{{getWord('Methods')}}</a>
							</li>

							<!--<li data-ui-sref-active="active">-->
								<!--<a data-ui-sref="app.site.delivery-shipping-zone-tables" >  {{getWord('ZoneTables')}}  </a>-->
							<!--</li>-->

							<!--<li data-ui-sref-active="active">-->
								<!--<a data-ui-sref="app.site.delivery-shipping-weight-tables" >  {{getWord('WeightTables')}}  </a>-->
							<!--</li>-->

							<!--<li data-ui-sref-active="active">-->
								<!--<a data-ui-sref="app.site.delivery-shipping-test" >  {{getWord('Test')}}  </a>-->
							<!--</li>-->

						</ul>
					</li>
                    <!--############################################################-->
                    <!--## START REPORTS                                          ##-->
                    <!--############################################################-->
                    <li ng-hide="true" id="nav-item-jobs-stats" data-ui-sref-active="active">
                        <a data-ui-sref="app.jobs-stats.list">
                            <i class="fa fa-lg fa-fw fa-puzzle-piece"></i>
                            <span class="menu-item-parent"> {{getWord('JobsStats')}}</span>
                        </a>
                    </li><!--/.nav-item-JobsStats-->

                </ul>
            </li><!--/#nav-item-site-->
        </ul>

	    <ul data-smart-menu-items="/api/menu-items.json"></ul>

    </nav>

    <!--############################################################-->
    <!--## TOGGLE MENU COMPONENT                                  ##-->
    <!--############################################################-->
    <span class="minifyme" data-action="minifyMenu" minify-menu>
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
