<aside id="left-panel">

	<!--##################################################################################################-->
	<!--## Created by Pardha Mugunda on 10/08/2015                                                           ##-->
	<!--## Filename: public/app/layout/partials/navigation-system-admin.tpl.html                                ##-->
	<!--##################################################################################################-->

	<!--############################################################-->
	<!--## USER INFO COMPONENT                                    ##-->
	<!--############################################################-->

	<div class="login-info">

    <span>
      <span id="current-user">
			<img ng-src="{{user.picture}}" class="online">
			<span>{{user.username}}</span>
		</span>

     </span>

	</div>
	<nav>
		<!--############################################################-->
		<!--## MENU                                                   ##-->
		<!--############################################################-->
		<!--## NOTE: Notice the gaps after each icon usage <i></i>..  ##-->
		<!--## Please note that these links work a bit different than ##-->
		<!--## traditional href="" links.                             ##-->
		<!--############################################################-->
		<ul data-smart-menu>

			<!--############################################################-->
			<!--## START DASHBOARD                                        ##-->
			<!--############################################################-->
			<li id="nav-item-dashboard" data-ui-sref-active="active">
				<a data-ui-sref="app.dashboard"><i class="fa fa-lg fa-fw fa-home"></i>
					<span class="menu-item-parent">{{getWord('Dashboard')}}</span>
				</a>
			</li><!--/#nav-item-dashboard-->

			<!--############################################################-->
			<!--## START ORDERS                                           ##-->
			<!--############################################################-->
			<li id="nav-item-orders" data-ui-sref-active="active">
				<a data-ui-sref="app.orders.list">
					<i class="fa fa-lg fa-fw fa-inbox"></i>
					<span class="menu-item-parent"> {{getWord('Orders')}} </span></a>
			</li><!--/.nav-item-orders-->

			<!--############################################################-->
			<!--## START CLOSED ORDERS                                    ##-->
			<!--############################################################-->
			<li id="nav-item-closed-orders" data-ui-sref-active="active">
				<a data-ui-sref="app.closed-orders.list"> <i class="fa fa-lg fa-fw fa-archive"></i>
					<span class="menu-item-parent"> {{getWord('ClosedOrders')}} </span></a>
			</li><!--/.nav-item-closed-orders-->

			<!--############################################################-->
			<!--## START JOBS                                             ##-->
			<!--############################################################-->
			<li id="nav-item-jobs" data-ui-sref-active="active" class="hide">
				<a data-ui-sref="app.jobs.list">
					<i class="fa fa-lg fa-fw fa-puzzle-piece"></i>
					<span class="menu-item-parent">  {{getWord('Jobs')}}  </span></a>
			</li><!--/.nav-item-jobs-->

			<!--############################################################-->
			<!--## START ROUTE PENDING                                    ##-->
			<!--############################################################-->
			<li id="nav-item-route-pending" data-ui-sref-active="active" class="hide">
				<a data-ui-sref="app.jobs.route-pending">
					<i class="fa fa-lg fa-fw fa-puzzle-piece"></i>
					<span class="menu-item-parent">  {{getWord('RoutePending')}} </span></a>
			</li><!--/.nav-item-route-pending-->

			<!--############################################################-->
			<!--## START JOBS MULTI LEVEL MENU                            ##-->
			<!--############################################################-->
			<li id="nav-item-jobs-menu" data-menu-collapse>
				<a href="#">
					<i class="fa fa-lg fa-fw fa-puzzle-piece"></i>
					<span class="menu-item-parent"> {{getWord('Jobs')}} </span></a>
				<ul>
					<li data-ui-sref-active="active" ng-show="getJobListRoute() == 1">
						<a data-ui-sref="app.jobs.list"> {{getWord('JobsList')}}</a>
					</li>
					<li data-ui-sref-active="active" ng-show="getJobListRoute() == 2">
						<a data-ui-sref="app.jobs.hub"> {{getWord('JobsList')}}</a>
					</li>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.jobs.job-batching"> {{getWord('Batching')}}</a>
					</li>
					<li data-ui-sref-active="active" ng-hide="hideRoute">
						<a data-ui-sref="app.jobs.route-pending"> {{getWord('RoutePending')}}</a>
					</li>
				</ul>
			</li><!--/#nav-item-customer-->

			<!--############################################################-->
			<!--## START PRODUCTION                                       ##-->
			<!--############################################################-->

			<!--####################################################-->
			<!--## START PRODUCTION SETUP MULTI MENU              ##-->
			<!--####################################################-->
			<li id="mnu-production-setup" data-menu-collapse>

				<!--PRODUCTION SETUP-->
				<a href="#"><i class="fa fa-lg fa-fw fa-sliders"></i> <span class="menu-item-parent">{{getWord('ProductionSetup')}}</span></a>

				<ul>
					<!--COST CENTERS-->
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.productionSetup.cost-center-categories"> {{getWord('CostCenters')}}</a>
					</li>
					<!--COMPONENT CELL TYPE SETUP-->
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.productionSetup.component-cell-types"> {{getWord('ProductCellTypes')}}</a>
					</li>
					<!--OPERATIONS-->
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.productionSetup.operations"> {{getWord('Operations')}}</a>
					</li>
					<!--PRODUCTION PLAN-->
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.productionSetup.productionPlan"> {{getWord('ProductionPlan')}}</a>
					</li>
					<!--REASONS LIST-->
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.productionSetup.reasons-list">{{getWord('ReasonsList')}}</a>
					</li>
					<!--SALES DEPARTMENT-->
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.productionSetup.sales-department"> {{getWord('SalesDepartment')}}</a>
					</li>
					<!--WASTE BREAK-->
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.production.resource-setup.waste-break">{{getWord('WasteBreak')}}</a>
					</li>

					<!--####################################################-->
					<!--## START PRE-PRESS MULTI MENU                     ##-->
					<!--####################################################-->
					<!--
					<li data-menu-collapse id="item-production-prepress">
						<a href="#"> {{getWord('Prepress')}} </a>
						<ul id="nav-sub-items-prepress">
							<li data-ui-sref-active="active">
								<a data-ui-sref="app.production.workflow-editor.list"> {{getWord('WorkflowEditor')}}  </a>
							</li>
						</ul>&lt;!&ndash;/#nav-sub-items-prepress&ndash;&gt;
					</li>
					-->

				</ul>

			</li><!--/#mnu-production-setup-->

			<!--############################################################-->
			<!--## START RESOURCES SETUP - PRODUCTION MULTI MENU          ##-->
			<!--############################################################-->
			<li id="mnu-resource-setup" data-menu-collapse>

				<a href="#"><i class="fa fa-lg fa-fw fa-sliders"></i><span class="menu-item-parent"> {{getWord('ResourceSetup')}}</span></a>

				<ul>

					<li data-ui-sref-active="active">
						<a data-ui-sref="app.production.resource-setup.labor-groups"> {{ getWord('LaborGroups') }} </a>
					</li>

					<!--####################################################-->
					<!--## START INK SETUP -  MULTI MENU                  ##-->
					<!--####################################################-->
					<li id="nav-item-ink-setup" data-menu-collapse>
						<a href="#">{{getWord('Inks')}}</a>
						<ul>
							<!--INK TYPES-->
							<li data-ui-sref-active="active">
								<a data-ui-sref="app.production.resource-setup.ink-types"> {{getWord('InkTypes')}}</a>
							</li>
							<!--INKS-->
							<li data-ui-sref-active="active">
								<a data-ui-sref="app.production.resource-setup.inks"> {{getWord('Inks')}}</a>
							</li>
						</ul>
					</li>

					<!--####################################################-->
					<!--## START PRESS SETUP -  MULTI MENU                ##-->
					<!--####################################################-->
					<li id="nav-item-press-setup" data-menu-collapse>
						<a href="#">{{getWord('Presses')}}</a>
						<ul>

							<li data-ui-sref-active="active">
								<a data-ui-sref="app.production.resource-setup.press-category">
									{{getWord('Categories')}}</a>
							</li>

							<li data-ui-sref-active="active">
								<a data-ui-sref="app.production.resource-setup.job-difficulty">
									{{getWord('JobDifficulty')}}</a>
							</li>

							<li data-ui-sref-active="active">
								<a data-ui-sref="app.production.resource-setup.presses"> {{getWord('Presses')}}</a>
							</li>

							<li data-ui-sref-active="active">
								<a data-ui-sref="app.production.resource-setup.press-instance">
									{{getWord('Instances')}}</a>
							</li>

						</ul>
					</li>

					<!--####################################################-->
					<!--## CUTTER MACHINE                                ##-->
					<!--####################################################-->
					<li id="nav-item-cutter-machine-setup" data-menu-collapse>
						<a href="#">{{getWord('CutterMachines')}}</a>
						<ul>
							<li data-ui-sref-active="active">
								<a data-ui-sref="app.production.resource-setup.cutter-machines"> {{
									getWord('CutterMachine') }} </a>
							</li>
							<li data-ui-sref-active="active">
								<a data-ui-sref="app.production.resource-setup.cutter-machine-instances"> {{
									getWord('CutterMachineInstances') }} </a>
							</li>
						</ul>
					</li>

					<!--####################################################-->
					<!--## Slitter MACHINE                                ##-->
					<!--####################################################-->

					<li id="nav-item-slitter-machine-setup" data-menu-collapse>
						<a href="#">{{getWord('SlitterMachines')}}</a>
						<ul>
							<li data-ui-sref-active="active">
								<a data-ui-sref="app.production.resource-setup.slitter-machines"> {{
									getWord('SlitterMachines') }} </a>
							</li>
							<li data-ui-sref-active="active">
								<a data-ui-sref="app.production.resource-setup.slitter-machine-instances"> {{
									getWord('SlitterMachineInstances') }} </a>
							</li>
						</ul>
					</li>

					<!--####################################################-->
					<!--## BINDING MACHINE                                ##-->
					<!--####################################################-->
					<li id="nav-item-binder-machine-setup" data-menu-collapse>
						<a href="#">{{getWord('BinderMachines')}}</a>
						<ul>
							<li data-ui-sref-active="active">
								<a data-ui-sref="app.production.resource-setup.binder-machines"> {{
									getWord('BinderMachines') }} </a>
							</li>
							<li data-ui-sref-active="active">
								<a data-ui-sref="app.production.resource-setup.binder-machine-instances"> {{
									getWord('BinderMachineInstances') }} </a>
							</li>
						</ul>
					</li>

					<!--####################################################-->
					<!--## GENERAL MACHINE                                ##-->
					<!--####################################################-->
					<li id="nav-item-general-machine-setup" data-menu-collapse>
						<a href="#">{{getWord('GeneralMachines')}}</a>
						<ul>
							<li data-ui-sref-active="active">
								<a data-ui-sref="app.production.resource-setup.general-machines">
									{{getWord('GeneralMachines')}}</a>
							</li>
							<li data-ui-sref-active="active">
								<a data-ui-sref="app.production.resource-setup.general-machine-instances">
									{{getWord('GeneralMachineInstances')}}</a>
							</li>
						</ul>
					</li>


					<!--####################################################-->
					<!--## START STOCK SETUP -  MULTI MENU                ##-->
					<!--####################################################-->
					<li id="nav-item-stock-setup" data-menu-collapse>
						<a href="#"><span class="menu-item-parent">{{getWord('Stocks')}}</span></a>
						<ul>

							<li data-ui-sref-active="active">
								<a data-ui-sref="app.production.resource-setup.stock-grades">{{getWord('StockGrades')}}</a>
							</li>

							<li data-ui-sref-active="active">
								<a data-ui-sref="app.production.resource-setup.stocks">{{getWord('Stocks')}}</a>
							</li>

							<li data-ui-sref-active="active">
								<a data-ui-sref="app.production.resource-setup.stock-waste">{{getWord('StockWaste')}}</a>
							</li>

						</ul>
					</li>

				</ul>
			</li><!--/#mnu-resource-setup-->

			<!--############################################################-->
			<!--## START REPORTS                                          ##-->
			<!--############################################################-->
			<li id="nav-item-reports" data-ui-sref-active="active">
				<a data-ui-sref="app.reports.index">
					<i class="fa fa-lg fa-fw fa-bar-chart"></i>
					<span class="menu-item-parent"> {{getWord('Reports')}}</span>
				</a>
			</li><!--/.nav-item-reports-->

			<!--############################################################-->
			<!--## PREFLIGHT                                              ##-->
			<!--## SSM 06/24/2016                                         ##-->
			<!--############################################################-->
			<!--<li id="app.preflight" data-ui-sref-active="active">
				<a data-ui-sref="app.preflight.preflight">
					<i class="fa fa-lg fa-fw fa-paper-plane-o"></i>
					<span class="menu-item-parent">{{getWord('Preflight')}}</span>
				</a>
			</li>-->
			<li id="app.preflight" data-menu-collapse>
				<a href="#"> <i class="fa fa-lg fa-fw fa-paper-plane-o"></i> <span class="menu-item-parent">{{getWord('WorkflowManagement')}}</span> </a>
				<ul>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.workflow-management.profiles-list">{{getWord('PreflightProfiles')}}</a>
					</li>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.workflow-management.preflight">{{getWord('Preflight')}}</a>
					</li>
					<!--############################################################-->
					<!--## Imposition                                             ##-->
					<!--############################################################-->

					<li data-ui-sref-active="active">
						<a data-ui-sref="app.workflow-management.imposition">{{getWord('ImpositionTemplates')}}</a>
					</li>
				</ul>
			</li>
			<!--############################################################-->
			<!--## START SITE                                             ##-->
			<!--############################################################-->
			<li id="nav-item-site" data-menu-collapse>

				<a href="#">
					<i class="fa fa-lg fa-fw fa-desktop"></i>
					<span class="menu-item-parent">{{getWord('Site')}}</span>
				</a>

				<ul>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.site.facilities">{{getWord('Facilities')}}</a>
					</li>

					<li data-ui-sref-active="active">
						<a data-ui-sref="app.site.facility-groups">{{getWord('FacilityGroups')}}</a>
					</li>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.site.delivery-routes">{{getWord('DeliveryRoutes')}}</a>
					</li>
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.site.system-roles">{{getWord('SystemRoles')}}</a>
					</li>

					<li data-ui-sref-active="active">
						<a data-ui-sref="app.site.system-users">{{getWord('SystemUsers')}}</a>
					</li>

					<li data-menu-collapse>

						<a href="#">{{getWord('PrintBrokerSettings')}}</a>

						<ul>

							<li data-ui-sref-active="active">
								<a data-ui-sref="app.site.print-broker-global-settings">{{getWord('ServerSettings')}}</a>
							</li>

							<li data-ui-sref-active="active">
								<a data-ui-sref="app.site.print-broker-local-settings">{{getWord('LocalSettings')}}</a>
							</li>

						</ul>
					</li>

					<!--SSM 06/24/2016 -- PRE-FLIGHT MANAGEMENT-->
					<!--<li id="app.preflight.preflight-management-list" data-ui-sref-active="active">
						<a data-ui-sref="app.preflight.preflight-management-list" ng-bind="getWord('PreflightManagement')"></a>
					</li>-->

					<li id="site.system-settings" data-ui-sref-active="active">
						<a data-ui-sref="app.site.system-settings">{{getWord('SystemSettings')}}</a>
					</li>

					<li data-menu-collapse>
						<a href="#">{{getWord('DeliveryShipping')}}</a>
						<ul>
							<li id="site.delivery-shipping-methods" data-ui-sref-active="active">
								<a data-ui-sref="app.site.delivery-shipping-methods">{{getWord('Methods')}}</a>
							</li>
						</ul>
					</li>

					<li data-ui-sref-active="active">
						<a data-ui-sref="app.site.objectViewer">{{getWord('ObjectViewer')}}</a>
					</li>

					<li data-ui-sref-active="active">
						<a data-ui-sref="app.site.debugUtility">{{getWord('DebugUtility')}}</a>
					</li>
<!--
					<li data-ui-sref-active="active">
						<a data-ui-sref="app.site.applicationMonitor">{{getWord('ApplicationMonitor')}}</a>
					</li>-->

					<!--SSM 01/26/16 -- Added here for development-->
					<!--
					<li data-menu-collapse>
						<a href="#">{{getWord('GoJs Demo')}}</a>
						<ul>
							<li data-ui-sref-active="active"><a data-ui-sref="app.gojs-demo.index">{{getWord('GoJs A Page')}}</a></li>
							<li data-ui-sref-active="active"><a data-ui-sref="app.gojs-demo.details">{{getWord('GoJs B Page')}}</a></li>
						</ul>
					</li>-->

				</ul>
			</li><!--/#nav-item-site-->

			<!--############################################################-->
			<!--## START JOBS STATS                                          ##-->
			<!--############################################################-->
			<li ng-hide="true" id="nav-item-jobs-stats" data-ui-sref-active="active">
				<a data-ui-sref="app.jobs-stats.list">
					<i class="fa fa-lg fa-fw fa-puzzle-piece"></i>
					<span class="menu-item-parent"> {{getWord('JobsStats')}}</span>
				</a>
			</li><!--/.nav-item-JobsStats-->
		</ul>
	</nav>

	<!--############################################################-->
	<!--## TOGGLE MENU COMPONENT                                  ##-->
	<!--############################################################-->
    <span class="minifyme" data-action="minifyMenu" minify-menu>
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>
</aside>
