<div id="smart-search" class="form-horizontal">

	<!--##################################################################################################-->
	<!--## Created by Shawn Miller on 5/5/2015                                                          ##-->
	<!--## Filename: public/app/layout/partials/smart-search.tpl.html                                   ##-->
	<!--##################################################################################################-->

    <div class="form-group">

        <div class="controls col-md-12">
            <div class="input-group input-group-lg input-icon-right">
                <div class="input-group-btn">
                    <button id="btnSearchType" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {{searchBy.displayName}} <span class="caret"></span>
                    </button>

                    <!--##########################-->
                    <!--# DROPDOWN-MENU          #-->
                    <!--##########################-->
                    <ul id="ddm-search-type" class="dropdown-menu">

                        <li><a ng-click="selectSearchBy('Customer Name')">{{getWord('CustomerName')}}</a></li>
                        <li><a ng-click="selectSearchBy('Company Name')">{{getWord('CompanyName')}}</a></li>
                        <li ng-show="showSearchOrders()||showSearchJobs()"><a ng-click="selectSearchBy('Order Number')">{{getWord('OrderNumber')}}</a>
                        </li>
                        <li><a ng-click="selectSearchBy('Phone Number')">{{getWord('PhoneNumber')}}</a></li>
                        <li ng-show="showSearchJobs()"><a ng-click="selectSearchBy('Job Number')">{{getWord('JobNumber')}}</a>
                        </li>

                    </ul><!--/.dropdown-menu-->

                </div><!--/.input-group-btn-->

                <input id="search-by-string"
                       name="search-by-string"
                       class="form-control input-lg"
                       type="text"
                       maxlength="500"
                       ng-change="resetAppliedSearch()"
                       input-enter="searchByString()"
                       ng-model="searchText"
                       custom-placeholder="enterSearchText"
                       autofocus>

                <div class="input-group-btn">

                    <button ng-show="showSearchOrders()" type="button" class="btn btn-default"
                            ng-click="searchByString()">
                        <i class="fa fa-fw fa-search fa-lg"></i>
                    </button>
                    <button ng-show="showSearchJobs()" type="button" class="btn btn-default" ng-click="searchByString()">
                        <i class="fa fa-fw fa-search fa-lg"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-disabled="!searchText" ng-click="resetSearch()">
                        <i class="fa fa-fw fa-times fa-lg"></i>
                    </button>

                </div><!--/.input-group-btn-->

            </div><!--/.input-group-->

        </div>

    </div><!--/.form-group-->

</div>