<div class="btn-group display-inline pull-right text-align-left open" data-dropdown="">
	<button class="btn btn-xs btn-default dropdown-toggle" aria-haspopup="true" aria-expanded="true"><i class="fa fa-cog fa-lg"></i></button>
	<ul class="dropdown-menu dropdown-menu-xs pull-right">
		<li><a href-void="" href="#"><i class="fa fa-file fa-lg fa-fw"></i> Change Password</a></li>
		<li><a href-void="" href="#"><i class="fa fa-file fa-lg fa-fw"></i> View</a></li>
		<li><a href-void="" href="#"><i class="fa fa-file fa-lg fa-fw"></i> Edit</a></li>
		<li><a href-void="" href="#"><i class="fa fa-times fa-lg fa-fw"></i> Delete</a></li>
		<li class="divider"></li>
		<li class="text-align-center"><a href-void="" href="#">Cancel</a></li>
	</ul>
</div>
